
			/* content */
.list_position li{
	list-style-position: inside;
	line-height: 1.6;
}
.btn{border-radius: 0;}
.btn:hover {
  color: #fff;
  background-color: #008383;
  border-color: #009595;
	border-radius: 0;
	transition: 0.5s;
}
.input_bor{
	border: 2px solid #cbcbcb;
}
.input_bor::after{
		content: "";
		display: table;
		clear: both;
}
.text_input{
	width: 100%;
	min-height: 38px;
	padding: 12px 8px;
	line-height: 8px;
	outline: none;
	background-color: transparent;
	color: #444444;
	overflow: hidden;
	resize: none;
}
.sns-login{width: 174px;height: 70px;}
.sns-login button{
	background: none;
	border: 0;
	float: left;
	padding: 0.125rem;
}
/* login */
.i-livere{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -545px -633px;
}
.i-weibo{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -700px -315px;
}
.i-wechat{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -700px -280px;
}
.i-qq{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -700px -70px;
}
.i-baidu{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -160px -633px;
}
.i-renren{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -700px -140px;
}
.i-douban{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -230px -633px;
}
form input{
	border: 0;
	border-bottom: 1px solid #b6b6b6;
	padding: 0.21875rem 0;
}
.i-tooltip{
	background-image: url(../img/zero_sprite.png);
	width: 30px;height: 30px;
	border-radius: 50%;
	background-position: -806px -829px;
	background-color: #FEFEFE;
}
.btn_style{
	background: none;
	border: 0;
	text-align: right;
	padding: 0.125rem;
	float: right;
	opacity: 0.5;
}
.comment button{
	background:none;
	border: 0;
	font-size: 13px;
}
.comment button:focus{
	padding-top: 3px;
	color: #f00;
}
.comment img{
	width: 40px;height: 40px;
	border-radius: 50%;
}
.i-p-qq{
	background-image: url(../img/zero_sprite.png);
	width: 25px;height: 25px;
	border-radius: 50%;
	background-position: -648px -741px;
}
.i-content{
	background-image: url(../img/zero_sprite.png);
	width: 26px;height: 26px;
	border-radius: 50%;
	background-position: -651px -829px;
}
.i-more{
	background-image: url(../img/zero_sprite.png);
	width: 26px;height: 26px;
	border-radius: 50%;
	background-position: -31px -829px;
}