/* top */
.font_small{font-size: 0.75rem;}
.font_max{font-size: 0.875rem;text-decoration: ;}
.text_none{text-decoration: none;}
#top li:hover{ background-color:#212529c7!important;}
.bg_cr{background-color:#e5ebe4;}
.header a{ line-height: 40px;}
.r_hv>ul>li{position: relative;}
.r_hv .hv_obj{
	display: none;
	width: 100%;
	position: absolute;
	z-index: 3;
	}
.r_hv:hover .hv_obj{display: block;}
.mx_none>li a{padding-top: 0px; padding-bottom: 0px;text-decoration: none;}
.out_no:focus{outline: none;}
/* 三角 */
.sj{
		  width:0;
		  height:0;
		  border-top:5px solid #848484;
			border-left:5px solid transparent;
			border-right:5px solid transparent;
			border-bottom:0;
			margin-top: 30%;
			margin-left: 4px;
		 }
		 /* top_cneter */
#log a{
	display:block;
	height: 38px;
	background: url(../img/kgbook-logo.png) no-repeat;
}

/* genre */
.breadcrumb-item + .breadcrumb-item::before {
				content: "|";
				font-size: 0.9rem;
				color: #CCCCCC;
			}
.font_cr{color: #037b82;font-size: 0.7rem;}
.font_cr:hover {
			  text-decoration:  none;background-color: #008cba;color: #fff;
			}
	@media (max-width:768px) {
		.bg_info{background-color:#17a2b8;}
	}
	@media (max-width: 992px) {
	  #top,#top_center {
			    max-width: 100%;
			  }
			}
#top_center .row::before,
#top_center .row::after{
	content: "";
	display: table;
}